    <footer class="footer">
      <div class="footer_wrap">
        <div class="footer_component">
          <div class="footer_main">
            <div class="footer_links-groups">
              <div id="w-node-_0632acfa-8aaa-b158-7b6a-58a2921af54f-921af54a" class="footer_group">
                <div class="footer_link-label">Pages</div>
                <div class="footer_lists">
                  <div class="footer_links-list">
                    <a href="index.html" class="footer_link{% if currentPage == "home" %} w--current{% endif %}"{% if currentPage == "home" %} aria-current="page"{% endif %}>Home</a>
                    <a href="about.html" class="footer_link{% if currentPage == "about" %} w--current{% endif %}"{% if currentPage == "about" %} aria-current="page"{% endif %}>About</a>
                    <a href="mailto:selinaliu1030@gmail.com" class="footer_link">Contact</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="footer_legal-links">
            <div id="w-node-_0632acfa-8aaa-b158-7b6a-58a2921af569-921af54a" class="footer_legal-wrap">
              <div class="footer_copyright">© 2025 Selina</div>
              <div class="footer_legal-divider"></div>
              <div class="footer_copyright">Powered by <a href="https://webflow.com/" target="_blank" class="footer_template-link">Webflow</a>
              </div>
              <div class="footer_legal-divider"></div>
              <div class="footer_copyright"> Created by Chih-Yun(Selina) Liu</div>
            </div>
          </div>
        </div>
      </div>
    </footer>
