    <nav class="navbar">
      <div class="padding-global">
        <div class="navbar_component">
          <a href="index.html" class="navbar_logo-wrap w-inline-block{% if currentPage == "home" %} w--current{% endif %}"{% if currentPage == "home" %} aria-current="page"{% endif %}><span class="navbar_logo-text">Selina<span class="navbar_logo-dot">.</span></span></a>
          <div class="navbar_links-wrap">
            <div class="navbar_links">
              <a href="index.html" class="navbar_link w-inline-block{% if currentPage == "home" %} w--current{% endif %}"{% if currentPage == "home" %} aria-current="page"{% endif %}>
                <div class="navbar_link-text _1">Home</div>
                <div class="navbar_link-text _2">Home</div>
              </a>
              <a href="about.html" class="navbar_link w-inline-block{% if currentPage == "about" %} w--current{% endif %}"{% if currentPage == "about" %} aria-current="page"{% endif %}>
                <div class="navbar_link-text _1">About</div>
                <div class="navbar_link-text _2">About</div>
              </a>
            </div>
            <a data-wf--button--variant="light-small" href="mailto:selinaliu1030@gmail.com" class="button w-variant-994e88c4-baec-2bbf-d0b3-8a2991a92ab2 w-inline-block">
              <div class="button_inner w-variant-994e88c4-baec-2bbf-d0b3-8a2991a92ab2">
                <div class="button_gradient">
                  <div class="button_gradient-ball ball-1 w-variant-994e88c4-baec-2bbf-d0b3-8a2991a92ab2"></div>
                  <div class="button_gradient-ball ball-2 w-variant-994e88c4-baec-2bbf-d0b3-8a2991a92ab2"></div>
                </div>
                <div class="button_text">Contact</div>
              </div>
              <div class="button_gradient-glow">
                <div class="button_gradient-ball ball-1 w-variant-994e88c4-baec-2bbf-d0b3-8a2991a92ab2"></div>
                <div class="button_gradient-ball ball-2 w-variant-994e88c4-baec-2bbf-d0b3-8a2991a92ab2"></div>
              </div>
            </a>
          </div>
          <div class="navbar_hamburger-wrap">
            <div class="navbar_hamburger">
              <div class="navbar_hamburger-line _1"></div>
              <div class="navbar_hamburger-line _2"></div>
            </div>
          </div>
        </div>
      </div>
    </nav>
