  <script src="js/vendor/jquery.min.js" type="text/javascript"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <script src="js/vendor/gsap.min.js" type="text/javascript"></script>
  <script src="js/vendor/SplitText.min.js" type="text/javascript"></script>
  <script src="js/vendor/ScrollTrigger.min.js" type="text/javascript"></script>
  <script src="js/interactive.js" type="text/javascript"></script>
  <script src="js/laptop-hero.js" type="text/javascript"></script>
  <script src="js/site-lightbox.js" type="text/javascript"></script>
  <script src="js/problem-goals.js" type="text/javascript"></script>
  <script src="js/journey-map.js" type="text/javascript"></script>
